.shopping-cart{
    float: right;
    border: 2px solid;
    padding: 1%;
    width: 42%;
    margin: 0 5% 0 0;
    text-align: center;
    border-radius: 3px;
}

.shopping-cart .empty{
    padding: 10px;
}

.shopping-cart .emptyBtn{
    background-color: darkblue;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 0.5em 1em;
    margin: 10px 0 0 0;
    cursor: pointer;
}

.shopping-cart .quantity{
    width: 10%;
}

.shopping-cart .arrowBtn{
    cursor: pointer;
    background: none;
    border: none;
    cursor: pointer;
}

.shopping-cart .btnDiv{
    display: inline-block;
    position: absolute;
    margin: -8px 0 0 0;
}

@media screen and (max-width: 600px) {
    .shopping-cart{
        float: none;
        width: 87%;
        margin: 0 0 0 5%;
        clear: both;
    }
}