<div class="shopping-cart">
    <div class="title">{{title}}</div>

    <div *ngIf="cartService.cartProducts.length">
        ({{totalCount}})
        <ul class="products">
            <li *ngFor="let cartProduct of cartService.cartProducts;">
                {{cartProduct.name | titlecase}} 
                <input #quantity type="number" class="quantity"
                value="{{cartProduct.quantity}}" title="{{cartProduct.quantity}}"
                (change)="onChange(quantity.value, cartProduct)"/>
                <div class="btnDiv">
                    <table border="0" cellspacing="0" cellpadding="0" >
                        <tr>
                            <td><button class="arrowBtn" (click)="onUp(cartProduct)">&#9650;</button></td>
                        </tr>
                        <tr>
                            <td><button class="arrowBtn" (click)="onDown(cartProduct)">&#9660;</button></td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>
        <div>Total Price: {{totalPrice | currency:'USD'}}</div>
        <button class="emptyBtn" (click)="cartService.empty()">Empty Cart</button>
    </div>
    <div *ngIf="!cartService.cartProducts.length" class="empty">
        {{cartEmpty}} 
    </div>
</div>
